@media(max-width:400px){
    .card{
        padding:1rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size:0.9rem;
    }
    .btn-custom{
        width: 60%;
        font-size: 0.9rem;
    }
}
body{
    font-family:'Cardo', serif;
    background:url('../img/old-wall.png') repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    background: rgba(255,255,255,0.9);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    text-align: center;
}
img{
    border-radius: 10%;
    max-width: 200px;
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
}
h2{
    font-family:'Cinzel Decorative', cursive;
    margin-bottom: 1rem;
}
button{
    display: block;
    transition: all 0.3s ease;
    background: linear-gradient(145deg, #f8e6b7, #e5c98a);
    border: 2px solid #b08946;
    border-radius: 12px;
    padding: 0.5rem 0.8rem;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
    width: 80px;
    height: 50px;
    margin: 1rem auto 0 auto;
    line-height: 50px;
    text-align: center;
}
    .btn-custom{
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 1rem auto 0 auto;
    background: linear-gradient(145deg, #f8e7b7, #e5c98a);
    border: 2px solid #b08946;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
    text-decoration: none;
    color: black;  
    font-weight: bold;
    user-select: none;
}
.btn-custom:hover{
    transform: scale(1.08);
    background: linear-gradient(145deg, #ffe9a3, #f6d47a);
}