@media (max-width:992px){
    main{
        flex-direction:column;
        padding: 1.5rem;
    }
    .laboratory, .sidebar{
        width:100%;
    }
    .elements-container{
        gap: 0.8rem;
    }
    .menu-btn{
        padding: 0.5rem 1rem;
        font-size:0.9rem;
    }
    header .header-container{
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width: 600px){
    header{
        padding:0.4rem 0.4rem;
    }
    .logo h1{
        font-size:0.8rem;
    }
    .main-navigation ul{
        flex-direction: row;
        gap:0.3rem;
        margin-left: 20px;
    }
    main{
        padding:1rem;
        flex-direction: column;
        gap:1rem;
    }
    .laboratory, .sidebar{
        padding: 1rem;
        width: 100%;
        border-radius: 3rem;
        box-shadow: 0 0 10px rgba(100, 70, 20, 0.2);
    }
    .elements-container{
        align-items:center;
        gap:0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    .element{
        flex:0 0 28%;
        width:90%;
        text-align: center;
        font-size: 0.7rem;
        padding: 0.4rem 0.6rem;
        box-sizing: border-box;
    }
    footer .footer-container{
        flex-direction:column;
        text-align:center;
        gap:0.5rem;
    }
    .social-links{
        justify-content: center;
    }
    .sidebar{
        order:2;
        margin-top: 1rem;
        height: auto;
    }
    #mixing-zone{
        padding: 1.5rem;
        font-size: 0.95rem;
    }
    .result-display{
        font-size: 1.1rem;
        padding: 0.8rem;
    }
    .menu-btn{
        padding: 0.3rem 0.7rem;
        font-size: 0.4rem;
    }
    .theme-btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.4rem;
    }
    .control-btn{
        padding: 0.6rem 0.8rem;
        font-size: 0.85rem;
    }
}